/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.info-image {
  width: 100%;
}

.more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  
  .info { 
    text-align: center;
  }

}

.main{
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-wrapper {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.list-element, 
.title {
  list-style: none;
}

.input, 
.btn{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.add-element__field {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.list__element-text,
.add-element__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.add-element__text:focus {
  color: #333;
}

.list__element-text:focus {
  color: #333;
}

/* New Task */
.add-element__field {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

.add-button:hover {
  color: #0fc57c;
}

/* Task list */
.list__element {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__element > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.list__element-field {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__element > .list__element-text {
  width: 226px;
}

.delete:hover {
  color: #cf2323;
}

.delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-image:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed .list__element-field {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list__element-text {
  display: none;
}

.edit-mode .list__element-text {
  display: inline-block;
  width: 224px;
}

.edit-mode .list__element-field {
  display: none;
}